<nz-layout class="left-layout">
  <nz-sider nzWidth="200px" nzTheme="light">
      <div class="logo">
          <nz-avatar [nzSize]="64" nzIcon="user" nzSrc={{currentUser.photoUrl}}></nz-avatar>
        <h3>{{currentUser.name}}</h3>
      </div>
   
      <ul nz-menu nzMode="inline" class="sider-menu" >
          <li nz-menu-item   (click)="dashboardPage()">
            <fa name="home" ></fa> Dashboard
          </li>
          <li nz-menu-item  (click)="myaccountPage()">
            <fa name="user"></fa> My account
          </li>
          <li nz-menu-item  (click)="permissionsPage()" class='roleMenu'>
            <fa name="cog"></fa> Roles management
          </li>
          <li nz-menu-item nzSelected (click)="petsPage()" class="petsMenu">
            <fa name="lemon-o	"></fa> Pets
          </li>
          <li nz-menu-item  (click)="customersPage()" class="customersMenu">
            <fa name="users"></fa> Customers
          </li>
          <li nz-menu-item   (click)="ordersPage()" class="ordersMenu">
            <fa name="users"></fa> Orders
          </li>
        </ul>
    
  </nz-sider>
  <nz-layout class="right-layout">

    <nz-header>
      <div class="top-left">
        <nz-input-group [nzSuffix]="suffixIconSearch" class="searchBar">
          <input type="text" nz-input placeholder="input search text" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>

      </div>
      <div class="add-pet">
        <button nz-button nzType="primary" [nzSize]="size" (click)="showModal()"><i nz-icon nzType="plus"></i>Add more
          pet</button>
<!-- modal -->
          <nz-modal [(nzVisible)]="isVisible" nzTitle="Add your pet" [nzFooter]="null" (nzOnCancel)="handleCancel()">

              <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)" >
                <!-- name -->
                <nz-form-item >
                  <nz-form-label [nzSpan]="7" nzRequired>Pet's Name</nz-form-label>
                  <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="userErrorTpl">
                    <input nz-input formControlName="name" placeholder="" />
                    <ng-template #userErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Please input your pet's name!
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
                <!-- Character -->
                <nz-form-item>
                  <nz-form-label [nzSpan]="7" nzRequired>Character</nz-form-label>
                  <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="userErrorTpl">
                    <input nz-input formControlName="character" placeholder="" />
                    <ng-template #userErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Please input your pet's character!
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
                <!-- image -->
                <nz-form-item>
                  <nz-form-label [nzSpan]="7" nzRequired>Image link</nz-form-label>
                  <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="userErrorTpl">
                    <input nz-input formControlName="img" placeholder="" />
                    <ng-template #userErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Please input your pet's image!
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
                <!-- gender -->
                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>Gender</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="userErrorTpl">
                      <nz-select [(ngModel)]="selectedGender" nzAllowClear nzPlaceHolder="Choose" formControlName="gender">
                        <nz-option nzValue="true" nzLabel="Male"></nz-option>
                        <nz-option nzValue="false" nzLabel="Female"></nz-option>
                      </nz-select>
                      <ng-template #userErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                          Please input your pet's Gender !
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                <!-- age -->
                <nz-form-item>
                  <nz-form-label [nzSpan]="7" nzRequired>Age</nz-form-label>
                  <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
                    <input nz-input formControlName="age" placeholder="" />
                    <ng-template #userErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Please input your pet's age!
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
                <!-- vaccine -->
                <nz-form-item>
                  <nz-form-label [nzSpan]="7" nzRequired>Vaccine UTD</nz-form-label>
                  <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="userErrorTpl">
                    <nz-select [(ngModel)]="selectedVaccine" nzAllowClear nzPlaceHolder="Choose" formControlName="vaccine">
                      <nz-option nzValue="true" nzLabel="Yes"></nz-option>
                      <nz-option nzValue="false" nzLabel="No"></nz-option>
                    </nz-select>
                    <ng-template #userErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Please input your pet's VUTD !
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
                <!-- provider -->
                <nz-form-item>
                  <nz-form-label [nzSpan]="7" nzRequired>Provider</nz-form-label>
                  <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="userErrorTpl">
                    <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Choose" formControlName="provider">
                      <nz-option nzValue="From Store" nzLabel="From Store"></nz-option>
                      <nz-option nzValue="From Someone" nzLabel="From Someone"></nz-option>
                    </nz-select>
                    <ng-template #userErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Please input your pet's provider !
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
            
                <!-- price -->
                <nz-form-item>
                  <nz-form-label [nzSpan]="7" nzRequired>Price</nz-form-label>
                  <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="userErrorTpl">
                    <input nz-input formControlName="price" placeholder="" />
                    <ng-template #userErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Please input your pet's price!
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
            
                <nz-form-item>
                  <nz-form-control [nzOffset]="7" [nzSpan]="12">
                    <button nz-button nzType="primary" [disabled]="!validateForm.valid" style="float: right">Save</button>
                  </nz-form-control>
                </nz-form-item>
              </form>
              <div style="padding-bottom: 12px;"></div>
            </nz-modal>

          

      </div>
      <div class="div top-right">

        <nz-button-group [nzSize]="size">
          <button nz-button nzType="primary" (click)="dasboardPage()"><i nz-icon nzType="left"></i></button>
          <button nz-button nzType="primary"><i nz-icon nzType="right"></i></button>
        </nz-button-group>

        <button nz-button nzType="default" class="logoutBtn" (click)="logoutClick()">Log out</button>
      </div>

    </nz-header>
    <nz-content>
      <div class="inner-content">
          <nz-spin [nzSpinning]="isSpinning" [nzDelay]="500">
              <div class="cardList">
                  <ng-container #container></ng-container>
                
              </div>
            </nz-spin>
      </div>
    </nz-content>
    <nz-footer>MyPet ©2019 Implement By Angular</nz-footer>
  </nz-layout>

</nz-layout>