
<!doctype html>
<html class="supports-no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="canonical" href="https://simpletheme.myshopify.com/">


    <link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/0037/5472/files/favicon_32x32.png?v=1509387970" type="image/png" />


  <title>
  Simple ecommerce theme demo store &ndash; Shopify Shirts
  </title>


    <meta name="description" content="Demo store for the Simple ecommerce theme by and for Shopify">


  <!-- /snippets/social-meta-tags.liquid -->




<meta property="og:site_name" content="Shopify Shirts">
<meta property="og:url" content="https://simpletheme.myshopify.com/">
<meta property="og:title" content="Simple ecommerce theme demo store">
<meta property="og:type" content="website">
<meta property="og:description" content="Demo store for the Simple ecommerce theme by and for Shopify">





  <meta name="twitter:site" content="@shopify">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Simple ecommerce theme demo store">
<meta name="twitter:description" content="Demo store for the Simple ecommerce theme by and for Shopify">


  <script>
    document.documentElement.className = document.documentElement.className.replace('supports-no-js', 'supports-js');

    var theme = {
      mapStrings: {
        addressError: "Error looking up that address",
        addressNoResults: "No results for that address",
        addressQueryLimit: "You have exceeded the Google API usage limit. Consider upgrading to a \u003ca href=\"https:\/\/developers.google.com\/maps\/premium\/usage-limits\"\u003ePremium Plan\u003c\/a\u003e.",
        authError: "There was a problem authenticating your Google Maps account."
      }
    }
  </script>

  <link href="//cdn.shopify.com/s/files/1/0037/5472/t/18/assets/theme.scss.css?14" rel="stylesheet" type="text/css" media="all" />

  <script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.start');</script><meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/375472/digital_wallets/dialog">
<script id="shopify-features" type="application/json">{"accessToken":"3d2db970d55eb13bb5c5842d9e1555e8","betas":[],"domain":"simpletheme.myshopify.com","predictiveSearch":true,"shopId":375472,"smart_payment_buttons_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/spb.en.js","dynamic_checkout_cart_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/dynamic-checkout-cart.en.js"}</script>
<script>var Shopify = Shopify || {};
Shopify.shop = "simpletheme.myshopify.com";
Shopify.currency = {"active":"CAD","rate":"1.0"};
Shopify.theme = {"name":"Simple — payment icons","id":16881516604,"theme_store_id":578,"role":"main"};
Shopify.theme.handle = "null";
Shopify.theme.style = {"id":null,"handle":null};</script>
<script type="module">!function(o){(o.Shopify=o.Shopify||{}).modules=!0}(window);</script>
<script>!function(o){function n(){var o=[];function n(){o.push(Array.prototype.slice.apply(arguments))}return n.q=o,n}var t=o.Shopify=o.Shopify||{};t.loadFeatures=n(),t.autoloadFeatures=n()}(window);</script>
<script id="__st">var __st={"a":375472,"offset":-18000,"reqid":"1357fd00-0053-4da7-b15b-eeaed5dd1949","pageurl":"simpletheme.myshopify.com\/","t":"prospect","u":"3861763f76dc","p":"home"};</script>
<script>window.ShopifyPaypalV4VisibilityTracking = true;</script>
<script>window['GoogleAnalyticsObject'] = 'ga';
window['ga'] = window['ga'] || function() {
  (window['ga'].q = window['ga'].q || []).push(arguments);
};
window['ga'].l = 1 * new Date();</script>
<script>var _gaUTrackerOptions = {'allowLinker': true};ga('create', 'UA-42189134-16', 'auto', _gaUTrackerOptions);ga('send', 'pageview');
      (function(){
        ga('require', 'linker');
        function addListener(element, type, callback) {
          if (element.addEventListener) {
            element.addEventListener(type, callback);
          }
          else if (element.attachEvent) {
            element.attachEvent('on' + type, callback);
          }
        }
        function decorate(event) {
          event = event || window.event;
          var target = event.target || event.srcElement;
          if (target && (target.action || target.href)) {
            ga(function (tracker) {
              var linkerParam = tracker.get('linkerParam');
              document.cookie = '_shopify_ga=' + linkerParam + '; ' + 'path=/';
            });
          }
        }
        addListener(window, 'load', function(){
          for (var i=0; i<document.forms.length; i++) {
            if(document.forms[i].action && document.forms[i].action.indexOf('/cart') >= 0) {
              addListener(document.forms[i], 'submit', decorate);
            }
          }
          for (var i=0; i<document.links.length; i++) {
            if(document.links[i].href && document.links[i].href.indexOf('/checkout') >= 0) {
              addListener(document.links[i], 'click', decorate);
            }
          }
        })
      }());
    </script>
<script>window.ShopifyAnalytics = window.ShopifyAnalytics || {};
window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
window.ShopifyAnalytics.meta.currency = 'CAD';
var meta = {"page":{"pageType":"home"}};
for (var attr in meta) {
  window.ShopifyAnalytics.meta[attr] = meta[attr];
}</script>
<script>window.ShopifyAnalytics.merchantGoogleAnalytics = function() {

};
</script>
<script class="analytics">(function () {
  var customDocumentWrite = function(content) {
    var jquery = null;

    if (window.jQuery) {
      jquery = window.jQuery;
    } else if (window.Checkout && window.Checkout.$) {
      jquery = window.Checkout.$;
    }

    if (jquery) {
      jquery('body').append(content);
    }
  };

  var isDuplicatedThankYouPageView = function() {
    return document.cookie.indexOf('loggedConversion=' + window.location.pathname) !== -1;
  }

  var setCookieIfThankYouPage = function() {
    if (window.location.pathname.indexOf('/checkouts') !== -1 &&
        window.location.pathname.indexOf('/thank_you') !== -1) {

      var twoMonthsFromNow = new Date(Date.now());
      twoMonthsFromNow.setMonth(twoMonthsFromNow.getMonth() + 2);

      document.cookie = 'loggedConversion=' + window.location.pathname + '; expires=' + twoMonthsFromNow;
    }
  }

  var trekkie = window.ShopifyAnalytics.lib = window.trekkie = window.trekkie || [];
  if (trekkie.integrations) {
    return;
  }
  trekkie.methods = [
    'identify',
    'page',
    'ready',
    'track',
    'trackForm',
    'trackLink'
  ];
  trekkie.factory = function(method) {
    return function() {
      var args = Array.prototype.slice.call(arguments);
      args.unshift(method);
      trekkie.push(args);
      return trekkie;
    };
  };
  for (var i = 0; i < trekkie.methods.length; i++) {
    var key = trekkie.methods[i];
    trekkie[key] = trekkie.factory(key);
  }
  trekkie.load = function(config) {
    trekkie.config = config;
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.onerror = function(e) {
      (new Image()).src = '//v.shopify.com/internal_errors/track?error=trekkie_load';
    };
    script.async = true;
    script.src = 'https://cdn.shopify.com/s/javascripts/tricorder/trekkie.storefront.min.js?v=2019.11.04.1';
    var first = document.getElementsByTagName('script')[0];
    first.parentNode.insertBefore(script, first);
  };
  trekkie.load(
    {"Trekkie":{"appName":"storefront","development":false,"defaultAttributes":{"shopId":375472,"isMerchantRequest":null,"themeId":16881516604,"themeCityHash":"13903206208551348197","contentLanguage":"en","currency":"CAD"}},"Performance":{"navigationTimingApiMeasurementsEnabled":true,"navigationTimingApiMeasurementsSampleRate":1},"Session Attribution":{}}
  );

  var loaded = false;
  trekkie.ready(function() {
    if (loaded) return;
    loaded = true;

    window.ShopifyAnalytics.lib = window.trekkie;


    var originalDocumentWrite = document.write;
    document.write = customDocumentWrite;
    try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch(error) {};
    document.write = originalDocumentWrite;
      (function () {
        if (window.BOOMR && (window.BOOMR.version || window.BOOMR.snippetExecuted)) {
          return;
        }
        window.BOOMR = window.BOOMR || {};
        window.BOOMR.snippetStart = new Date().getTime();
        window.BOOMR.snippetExecuted = true;
        window.BOOMR.snippetVersion = 12;
        window.BOOMR.shopId = 375472;
        window.BOOMR.themeId = 16881516604;
        window.BOOMR.url =
          "https://cdn.shopify.com/shopifycloud/boomerang/shopify-boomerang-1.0.0.min.js";
        var where = document.currentScript || document.getElementsByTagName("script")[0];
        if (!where || !where.parentNode){
          return;
        }
        var promoted = false;
        var LOADER_TIMEOUT = 3000;
        function promote() {
          if (promoted) {
            return;
          }
          var script = document.createElement("script");
          script.id = "boomr-scr-as";
          script.src = window.BOOMR.url;
          script.async = true;
          where.parentNode.appendChild(script);
          promoted = true;
        }
        function iframeLoader(wasFallback) {
          promoted = true;
          var dom, bootstrap, iframe, iframeStyle;
          var doc = document;
          var win = window;
          window.BOOMR.snippetMethod = wasFallback ? "if" : "i";
          bootstrap = function(parent, scriptId) {
            var script = doc.createElement("script");
            script.id = scriptId || "boomr-if-as";
            script.src = window.BOOMR.url;
            BOOMR_lstart = new Date().getTime();
            parent = parent || doc.body;
            parent.appendChild(script);
          };
          if (!window.addEventListener && window.attachEvent && navigator.userAgent.match(/MSIE [67]./)) {
            window.BOOMR.snippetMethod = "s";
            bootstrap(where.parentNode, "boomr-async");
            return;
          }
          iframe = document.createElement("IFRAME");
          iframe.src = "about:blank";
          iframe.title = "";
          iframe.role = "presentation";
          iframe.loading = "eager";
          iframeStyle = (iframe.frameElement || iframe).style;
          iframeStyle.width = 0;
          iframeStyle.height = 0;
          iframeStyle.border = 0;
          iframeStyle.display = "none";
          where.parentNode.appendChild(iframe);
          try {
            win = iframe.contentWindow;
            doc = win.document.open();
          } catch (e) {
            dom = document.domain;
            iframe.src = "javascript:var d=document.open();d.domain='" + dom + "';void(0);";
            win = iframe.contentWindow;
            doc = win.document.open();
          }
          if (dom) {
            doc._boomrl = function() {
              this.domain = dom;
              bootstrap();
            };
            doc.write("<body onload='document._boomrl();'>");
          } else {
            win._boomrl = function() {
              bootstrap();
            };
            if (win.addEventListener) {
              win.addEventListener("load", win._boomrl, false);
            } else if (win.attachEvent) {
              win.attachEvent("onload", win._boomrl);
            }
          }
          doc.close();
        }
        var link = document.createElement("link");
        if (link.relList &&
          typeof link.relList.supports === "function" &&
          link.relList.supports("preload") &&
          ("as" in link)) {
          window.BOOMR.snippetMethod = "p";
          link.href = window.BOOMR.url;
          link.rel = "preload";
          link.as = "script";
          link.addEventListener("load", promote);
          link.addEventListener("error", function() {
            iframeLoader(true);
          });
          setTimeout(function() {
            if (!promoted) {
              iframeLoader(true);
            }
          }, LOADER_TIMEOUT);
          BOOMR_lstart = new Date().getTime();
          where.parentNode.appendChild(link);
        } else {
          iframeLoader(false);
        }
        function boomerangSaveLoadTime(e) {
          window.BOOMR_onload = (e && e.timeStamp) || new Date().getTime();
        }
        if (window.addEventListener) {
          window.addEventListener("load", boomerangSaveLoadTime, false);
        } else if (window.attachEvent) {
          window.attachEvent("onload", boomerangSaveLoadTime);
        }
        if (document.addEventListener) {
          document.addEventListener("onBoomerangLoaded", function(e) {
            e.detail.BOOMR.init({});
            e.detail.BOOMR.t_end = new Date().getTime();
          });
        } else if (document.attachEvent) {
          document.attachEvent("onpropertychange", function(e) {
            if (!e) e=event;
            if (e.propertyName === "onBoomerangLoaded") {
              e.detail.BOOMR.init({});
              e.detail.BOOMR.t_end = new Date().getTime();
            }
          });
        }
      })();


    if (!isDuplicatedThankYouPageView()) {
      setCookieIfThankYouPage();

        window.ShopifyAnalytics.lib.page(
          null,
          {"pageType":"home"}
        );


    }
  });


      var eventsListenerScript = document.createElement('script');
      eventsListenerScript.async = true;
      eventsListenerScript.src = "//cdn.shopify.com/s/assets/shop_events_listener-594cfaf735d2b159533f8abf94d25929f75d05c6cf4bafcacb1ec8a35017059a.js";
      document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);

})();</script>
<script integrity="sha256-dQnz4kgTiuzHqhOZj4pPxLEQTiG/lSrqQL2+JP21kv4=" crossorigin="anonymous" data-source-attribution="shopify.loadfeatures" defer="defer" src="//cdn.shopify.com/s/assets/storefront/load_feature-7509f3e248138aecc7aa13998f8a4fc4b1104e21bf952aea40bdbe24fdb592fe.js"></script>
<script integrity="sha256-qzPTa4Ven/Yc2yyXr9BKZWCTXSrPTCnbGdWsxA7YCw0=" data-source-attribution="shopify.dynamic-checkout" defer="defer" src="//cdn.shopify.com/s/assets/storefront/features-ab33d36b855e9ff61cdb2c97afd04a6560935d2acf4c29db19d5acc40ed80b0d.js" crossorigin="anonymous"></script>
<script async="async" src="https://www.google-analytics.com/analytics.js"></script>
<script defer="defer" src="//cdn.shopify.com/s/assets/themes_support/ga_urchin_forms-99e991855b3d8ddc69e625c68ab0579dd9927b611c2ec4943d396c72e3af0849.js"></script>


<script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.end');</script>

  <script src="//cdn.shopify.com/s/files/1/0037/5472/t/18/assets/jquery-1.11.0.min.js?14" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/0037/5472/t/18/assets/modernizr.min.js?14" type="text/javascript"></script>

  <script src="//cdn.shopify.com/s/files/1/0037/5472/t/18/assets/lazysizes.min.js?14" async="async"></script>


</head>

<body id="simple-ecommerce-theme-demo-store" class="template-index">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">Skip to content</a>

  <div id="shopify-section-header" class="shopify-section">
  <div class="page-border"></div>





  <style>
    .site-header__logo {
      width: 150px;
    }
    #HeaderLogoWrapper {
      max-width: 150px !important;
    }
  </style>


<div class="site-wrapper">
  <div class="top-bar grid">

    <div class="grid__item medium-up--one-fifth small--one-half">

    </div>



    <div class="grid__item  medium-up--four-fifths  small--one-half text-right">
      <a  (click)="linkTo('cart')" class="site-header__cart cart-icon">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-cart" viewBox="0 0 20 20"><path fill="#444" d="M18.936 5.564c-.144-.175-.35-.207-.55-.207h-.003L6.774 4.286c-.272 0-.417.089-.491.18-.079.096-.16.263-.094.585l2.016 5.705c.163.407.642.673 1.068.673h8.401c.433 0 .854-.285.941-.725l.484-4.571c.045-.221-.015-.388-.163-.567z"/><path fill="#444" d="M17.107 12.5H7.659L4.98 4.117l-.362-1.059c-.138-.401-.292-.559-.695-.559H.924c-.411 0-.748.303-.748.714s.337.714.748.714h2.413l3.002 9.48c.126.38.295.52.942.52h9.825c.411 0 .748-.303.748-.714s-.336-.714-.748-.714zM10.424 16.23a1.498 1.498 0 1 1-2.997 0 1.498 1.498 0 0 1 2.997 0zM16.853 16.23a1.498 1.498 0 1 1-2.997 0 1.498 1.498 0 0 1 2.997 0z"/></svg>
        <span class="small--hide">
          Cart
          (<span id="CartCount">{{cartCount}}</span>)
        </span>
      </a>
      <span class="vertical-divider small--hide"></span>
    </div>
    <div>
      Hello <b>{{currentUser.name}}</b>
    </div>
  </div>

  <hr class="small--hide hr--border">

  <header class="site-header grid medium-up--grid--table" role="banner">
    <div class="grid__item small--text-center">
      <div itemscope itemtype="http://schema.org/Organization">


        <style>



    #HeaderLogo {
      max-width: 150px;
      max-height: 45.46332046332046px;
    }
    #HeaderLogoWrapper {
      max-width: 150px;
    }



</style>



          <div id="HeaderLogoWrapper" class="supports-js">
            <a href="/" itemprop="url" style="padding-top:30.30888030888031%; display: block;">
              <img id="HeaderLogo"
                   class="lazyload"
                   src="//cdn.shopify.com/s/files/1/0037/5472/files/logo_150x150.png?v=1480350819"
                   data-src="//cdn.shopify.com/s/files/1/0037/5472/files/logo_{width}x.png?v=1480350819"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio=""
                   data-sizes="auto"
                   alt="Shopify Shirts"
                   itemprop="logo">
            </a>
          </div>
          <noscript>

            <a href="/" itemprop="url">
              <img class="site-header__logo" src="//cdn.shopify.com/s/files/1/0037/5472/files/logo_150x.png?v=1480350819"
              srcset="//cdn.shopify.com/s/files/1/0037/5472/files/logo_150x.png?v=1480350819 1x, //cdn.shopify.com/s/files/1/0037/5472/files/logo_150x@2x.png?v=1480350819 2x"
              alt="Shopify Shirts"
              itemprop="logo">
            </a>
          </noscript>

            <h1 class="visually-hidden">Shopify Shirts</h1>


      </div>
    </div>

  </header>
</div>




</div>



  <div class="site-wrapper">

    <div class="grid">

      <div id="shopify-section-sidebar" class="shopify-section"><div data-section-id="sidebar" data-section-type="sidebar-section">
  <nav class="grid__item small--text-center medium-up--one-fifth" role="navigation">
    <hr class="hr--small medium-up--hide">
    <button id="ToggleMobileMenu" class="mobile-menu-icon medium-up--hide" aria-haspopup="true" aria-owns="SiteNav">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
      <span class="icon__fallback-text">Menu</span>
    </button>
    <div id="SiteNav" class="site-nav" role="menu">
      <ul class="list--nav">



            <li class="site-nav__item site-nav--active">
              <a  (click)="linkTo('home')" class="site-nav__link home-btn" aria-current="page">Home</a>
            </li>


      </ul>

    </div>
    <hr class="medium-up--hide hr--small hr--border-bottom">
  </nav>
</div>




</div>

<!-- main-content -->
<div *ngIf="whichPage == 'home'">
  <app-product-list (linkTo)=linkTo($event)></app-product-list>
</div>
<div *ngIf="whichPage == 'detail'">
  <app-detail (linkTo)=linkTo($event)></app-detail>
</div>
<div *ngIf="whichPage == 'cart'">
  <app-cart (linkTo)=linkTo($event)></app-cart>
</div>
<!-- end-main-content -->

    </div>

    <hr>

    <div id="shopify-section-footer" class="shopify-section">

      <footer class="site-footer" role="contentinfo" data-section-id="footer" data-section-type="footer-section">

  <div class="grid">





          <div class="grid__item medium-up--one-half small--one-whole">

              
          </div>


    </div>


    <hr>


  <div class="grid medium-up--grid--table sub-footer small--text-center">
    <div class="grid__item medium-up--one-half">

    </div>
  </div>
</footer>




</div>

  </div>


    <script src="//cdn.shopify.com/s/assets/themes_support/option_selection-fe6b72c2bbdd3369ac0bfefe8648e3c889efca213baefd4cfb0dd9363563831f.js" type="text/javascript"></script>
    <script>
      // Set a global variable for theme.js to use on product single init
      window.theme = window.theme || {};
      theme.moneyFormat = "${{amount}}";
      theme.productSingleObject = null;
    </script>


  <script src="//cdn.shopify.com/s/files/1/0037/5472/t/18/assets/theme.js?14" type="text/javascript"></script>
</body>
</html>
